language: python
python:
    - 2.7
    - 3.5
    - 3.6
    - pypy
    - pypy3
matrix:
    include:
        - python: "3.7"
          dist: xenial
        - python: "3.8"
          dist: xenial
        - name: "flake8"
          install: pip install flake8
          script: flake8 src setup.py
          after_success:
install:
    - pip install -U pip setuptools
    - pip install -U coverage coverage-python-version coveralls
    - pip install -U -e .[test]
script:
    - coverage run -m zope.testrunner --test-path=src
after_success:
    - coveralls
notifications:
    email: false
cache: pip
