include *.rst
include *.txt
include tox.ini
include bootstrap.py
include buildout.cfg
include .travis.yml
include .coveragerc

recursive-include src *

recursive-include docs *.rst
recursive-include docs *.py
recursive-include docs Makefile
recursive-include docs make.bat

global-exclude *.pyc
